#######
# latex temporary files
#######

*.out
*.blg
*.synctex.gz
*.log
*.aux
*.fdb_latexmk
*.toc
.DS_Store
*.fls

#######
# data temporary files
#######

*.pkl
*.mat
*.eps
*.pdf

#######
# user specified
#######
_BIN/
*.html
